<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signal.main.dao.MainDAO">
	
	<select id="startPost1" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day1} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost1" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no   
		where jpo_state="진행중" and jpo_deadline =#{day1} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost2" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no   
		where jpo_state="진행중" and jpo_start =#{day2} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost2" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no 
		where jpo_state="진행중" and jpo_deadline =#{day2} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost3" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no 
		where jpo_state="진행중" and jpo_start =#{day3} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost3" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day3} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost4" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_start =#{day4} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost4" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day4} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost5" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_start =#{day5} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost5" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day5} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost6" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_start =#{day6} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost6" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day6} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="startPost7" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_start =#{day7} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="endPost7" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day7} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
		limit 5
	</select>
	
	<select id="postPopStart" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jpo_title,jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{chkDay}
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC;	
	</select>
	
	<select id="postPopEnd" resultType="callendar" parameterType="String">
		SELECT jp.jpo_no, jpo_title,jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_deadline =#{chkDay}
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC;	
	</select>
	
	<select id="cnt1" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day1} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt2" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day2} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt3" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day3} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt4" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day4} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt5" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day5} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt6" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day6} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt7" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name,  jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id 
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no 
		left outer join job_ch jc on jc.jc_no = jp.jc_no  
		where jpo_state="진행중" and jpo_start =#{day7} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt8" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day1} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt9" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day2} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt10" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day3} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt11" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day4} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt12" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day5} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt13" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day6} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
	
	<select id="cnt14" resultType="int" parameterType="String">
		SELECT jp.jpo_no, jp_name , jc_name, jp.com_id, jpo_start, jpo_deadline, jpo_state, com_name, ROUND(count(inter_comment)/count(inter_no)*100) as rankCom FROM job_posting jp
		left outer join company c on jp.com_id = c.com_id
		left outer join interview i on jp.com_id = i.com_id  
		left outer join job_pa jp2 on jp.jp_no = jp2.jp_no
		left outer join job_ch jc on jc.jc_no = jp.jc_no
		where jpo_state="진행중" and jpo_deadline =#{day7} and inter_result is not null
		group by jp.jpo_no having rankCom > 50
		order by rankCom DESC
	</select>
</mapper>